<ng-container [ngSwitch]="panel">

    <app-links-panel *ngSwitchCase="'links'" [checkTags]="checkTags" (newLinkEmitter)="changePanel($event)" ></app-links-panel>
    <div *ngSwitchCase="'googleSearch'" class="gcse-searchresults-only" style="max-width: 100%; width: 100%;"></div>
    <app-new-link-panel *ngSwitchCase="'newLink'" (exitPanelEmitter)="changePanel($event)"></app-new-link-panel>

</ng-container>
<!-- MAIN PANEL - IFRAME -->
<!-- <iframe name="search-results" src="http://www.google.com/webhp?q=&btnG=Search">

</iframe> -->
