<div class="link">
    <div>
        <div></div>
        Nombre del Link
    </div>
    <button>
        <app-svg-link></app-svg-link>
    </button>
    <button>
        <app-svg-new-tab></app-svg-new-tab>
    </button>
    <button>
        <app-svg-copy-link></app-svg-copy-link>
    </button>
</div>

<div class="link">
    <div>
        <div></div>
        Nombre del Link
    </div>
    <button>
        <app-svg-link></app-svg-link>
    </button>
    <button>
        <app-svg-new-tab></app-svg-new-tab>
    </button>
    <button>
        <app-svg-copy-link></app-svg-copy-link>
    </button>
</div>
  
<div class="gcse-searchresults-only" style="max-width: 100%; width: 100%;"></div>
<!-- MAIN PANEL - IFRAME -->
<!-- <iframe name="search-results" src="http://www.google.com/webhp?q=&btnG=Search">

</iframe> -->
