<main class="icons-main" (scroll)="updatePosition()" [ngClass]="{'hideScroll' : !showScroll}">
    <app-icon-link *ngFor="let link of icon_links; index as i" [filters]="filters" [index]="i" [link]="link" [isEditMode]="isEditMode" [showLinks]="foldersOpen[i]" (newLinkEmitter)="this.newLinkEmitter.emit($event)" (editLinkEmitter)="this.editLinkEmitter.emit($event)" (deleteLinkEmitter)="this.deleteLinkEmitter.emit($event)" (isOpenFolderEmitter)="openFolder($event)"></app-icon-link>
    <button class="newButton" (click)="this.newLinkEmitter.emit(newLink)" [value]="this.icon_links.length" #newLink>
        Añadir un link +
    </button>
    
    <div class="folderLinks" *ngIf="selectedFolder" #folder>
        <h3 >{{selectedFolder.link.getName()}}</h3>
        <div class="icons">
            <app-icon-link *ngFor="let folderLink of selectedFolder.link.getLinks();" [link]="folderLink" [hasFatherFolder]="true"></app-icon-link>
            <button class="newButton" (click)="selectedFolder.addLinkPopUp($event)">
                Añadir un link +
            </button>
        </div>
    </div>
</main>