main {
    display: flex;
    flex-direction: row;
    column-gap: 1.5vw;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 981px;
    margin: 0 4vw;
    padding-top: 4vmin;
    overflow-x: auto;
    user-select: none;
    scroll-behavior: smooth;
    transition: 1s;
}
main button {
    width: var(--link-width);
    height: var(--link-height);
    border: solid .5px var(--dark-color);
    border-radius: 10px;
    background: var(--main-color);
    overflow: hidden !important;

    text-align: center;
    color: var(--main-color);
    cursor: pointer;
    
    font-size: 1rem;
    opacity: .5;
    background-color: var(--dark-color);

    transition: .5s;
}
main button:hover {
    color: var(--dark-color);
    background-color: var(--main-color);
}
main button:active {
    border-bottom: none;
    border-right: none;
}
app-icon-link {
    height: max-content;
}

.folderLinks {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.folderLinks div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 1.5vw;
}