<main class="icons-main" (scroll)="updatePosition()" [ngClass]="{'hideScroll' : !showScroll}">
    <app-icon-link *ngFor="let link of icon_links; index as i" [filters]="filters" [index]="i" [link]="link" [isEditMode]="isEditMode" [showLinks]="foldersOpen[i]" (newLinkEmitter)="this.newLinkEmitter.emit($event)" (editLinkEmitter)="this.editLinkEmitter.emit($event)" (deleteLinkEmitter)="this.deleteLinkEmitter.emit($event)" (isOpenFolderEmitter)="openFolder($event)"></app-icon-link>
    <button class="newButton" (click)="this.newLinkEmitter.emit(newLink)" #newLink>
        Añadir un link +
    </button>
    
    <div class="folderLinks" *ngIf="selectedFolder">
        <h3>{{selectedFolder.getName()}}</h3>
        <div>
            <app-icon-link *ngFor="let folderLink of selectedFolder.getLinks();" [link]="folderLink"></app-icon-link>
        </div>
    </div>
</main>