<button (click)="moveScrollLeft(left,right)" #left>
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z"/>
    </svg>
</button>
<main class="icons-main" (scroll)="updatePosition()" [ngClass]="{'hideScroll' : !showScroll}">
    <div *ngFor="let link of icon_links; index as i">
        <app-icon-link [filters]="filters" [index]="i" [link]="link" [isEditMode]="isEditMode" [showLinks]="foldersOpen[i]" (newLinkEmitter)="this.newLinkEmitter.emit($event)" (editLinkEmitter)="this.editLinkEmitter.emit($event)" (deleteLinkEmitter)="this.deleteLinkEmitter.emit($event)" (isOpenFolderEmitter)="openFolder($event)"></app-icon-link>
    </div>
    <button class="newButton" *ngIf="icon_links.length==0" (click)="this.newLinkEmitter.emit(newLink)" #newLink>
        +
    </button>
</main>
<button (click)="moveScrollRight(right,left)" #right>
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/>
    </svg>
</button>