<button (click)="downloadJSON()" (mouseenter)="onHover(true, 0)" (mouseleave)="onHover(false, 0)">
    <app-svg-save [fill]="fillButtonsColor[0]"></app-svg-save>
</button>
<button (click)="onClickUpload()" (mouseenter)="onHover(true, 1)" (mouseleave)="onHover(false, 1)">
  <app-svg-upload [fill]="fillButtonsColor[1]"></app-svg-upload>
</button>
<button class="user">
  <app-svg-user></app-svg-user>
</button>

<app-confirm-menu #ConfirmMenu
  [titleText]="'¿Quieres sobrescribir los datos?'"
  [messageText]="'Al pulsar \'Sobrescribir links\' los anteriores serán eliminados'"
  [mainButtonText]="'Sobrescribir links'"
  [secondaryButtonText]="'Añadir Links'"
  [danger]="'main'"
  [object]="this"
>
</app-confirm-menu>
