div.link {
    display: flex;
    align-items: center;
    width: 60%;
    max-height: 100%;
    padding: .2%;
    border: solid 2px var(--light-border-color);
    border-radius: 15vw;
}

div.link:hover, div.hovered, button.hovered {
    color: var(--accent-color);
    border-color: var(--dark-border-color);
}

/* Link Logo */
div.link>div {
    height: 100%;
    aspect-ratio: 1 / 1;
    border: 2px solid var(--light-border-color);
    border-radius: 100%;
    padding: .5%;
    margin-left: 1%;
    margin-right: 5%;
    overflow: hidden;
}
div.link>div>img {
    height: 100%;
    width: 100%;
}
div.link>div>div {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: solid 6px var(--dark-border-color);
    overflow: hidden;
}

button {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 15vw;
    padding: max(7px, .9%);
    border: 2px solid var(--light-border-color);
    margin-left: 1%;
    background-color: var(--main-background-color);
}

button:hover {
    border-color: var(--dark-border-color);
}