<div class="title">{{titleText}}</div>
<div *ngIf="messageText != undefined && messageText.trim() !== ''" class="message">{{messageText}}</div>
<input *ngIf="secondaryButtonText != undefined && secondaryButtonText.trim() !== ''" type="button" class="secondaryButton pointer" [class]="danger.toLowerCase() === 'secondary'?'danger' : ''" [value]="secondaryButtonText" (mousedown)="onClickSecondaryFunction($event)"/>
<input *ngIf="mainButtonText != undefined && mainButtonText.trim() !== ''" type="submit" class="mainButton pointer" [class]="danger.toLowerCase() === 'main'?'danger' : ''" [value]="mainButtonText" (mousedown)="onClickMainFunction($event)" />
