form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
input {
    width: 80%;
    max-width: 80%;
    min-height: 20px;
    height: 45%;
    max-height: 45%;

    font-size: 20px;
    padding: 2px;
    border: 1px solid black;
    border-right: none;
    border-left: none;
}
app-engine-button {
    min-width: 45px;
    width: 5%;

    min-height: 20px;
    height: 45%;

    background-color: white;
    border: 1px solid black;
    border-right: none;
    border-top-left-radius: 15vw;
    border-bottom-left-radius: 15vw;
    overflow: hidden;
}

app-engine-button.deployed {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
}

button.search-button {
    min-width: 45px;
    width: 5%;
    min-height: 20px;
    height: 45%;

    background-color: white;
    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 15vw;
    border-bottom-right-radius: 15vw;
    padding-right: 1%;
}

button.search-button div {
    border-radius: 100%;
}

button.search-button.deployed {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
}

/* SUGGESTIONS */

div.suggestions {
    position: absolute;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 10px 20px -4px rgba(0, 0, 0, 0.24);
    background-color: white;
    overflow: hidden;
    z-index: 99;
    visibility: hidden;
    
    opacity: 0;
}
div.suggestions.deployed {
    visibility: visible;
    opacity: 1;
}

div.suggestions ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div.suggestions li {
    display: flex;
    align-items: center;
    padding: 1vh;
    padding-left: 0px;
    cursor: pointer;
    position: relative;
}
div.suggestions li:hover, div.suggestions li:focus  {
    background-color: var(--main-accent-color);
    outline: none;
}
div.suggestions li>div {
    display: flex;
    place-content: center;
    width: 5%;
    min-width: 45px;
    aspect-ratio: 1 / .5;
    position: relative;
}
div.suggestions li img {
    visibility: hidden;
    aspect-ratio: 1 / 1;
    
}

div.suggestions li:hover img, div.suggestions li:focus img {
    visibility: visible;
}
