main {
    display: flex;
    flex-direction: row;
    padding: 1vh 0;
    margin: 1vh 1vw;
    align-items: center;
    border: solid 2px var(--main-color);
    border-radius: 20px;
    height: min(70px,8vh);
}
main.haveFolder {
    margin-left: 2vw;
    margin-right: 2vw;
    border: none;
    border-bottom: solid 2px var(--main-color);
    border-radius: 0;
    height: min(40px, 6vh);
}
main.showFolderLinks {
    border-color: var(--separator-color);
}
main.showFolderLinks .openFolder svg {
    fill: var(--separator-color);
}
a {
    display: flex;
    width: 100%;
    color: var(--main-color);
    text-decoration: none;
    font-size: calc(1rem + .5vmin);
    cursor: pointer;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a img, a svg {
    width: calc(.5rem + 3vh + 1vw);
    height: calc(.5rem + 3vh + 1vw);
    padding: 1.25vmin;
    border-radius: 10px;
    fill: var(--main-color);
}
main:hover {
    border-color: var(--separator-color) !important;
    font-size: calc(1rem + .75vmin);
}
a.isEditMode {
    color: gray;
    pointer-events: none !important;
}
button, .openFolder {
    display: none;
    padding: 1vh;
    margin-left: auto;
    background: none;
    border: none;
    color: var(--main-color);
    font-size: calc(1rem + .25vh);
}

button svg {
    fill: var(--main-color);
    
    width: calc(1rem + .25vw);
}

button.isEditMode, .openFolder.isEditMode {
    display: block;
}

div.folderLinks {
    display: none;
}
div.showFolderLinks {
    display: block;
}
