/* TOP MENU */
app-top-menu {
    grid-area: tm;
    background-color: var(--secondary-background-color);
    border-bottom: 2px solid var(--border-color);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1%;
    padding-right: 3%;
}

/* LEFT MENU */
app-left-menu {
    grid-area: lm;
    background-color: var(--secondary-background-color);
    border-right: 2px solid var(--main-background-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

/* SEARCH BAR */
app-search-bar {
    grid-area: sb;
    background-color: var(--main-background-color);

    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--accent-color);
    
}

/* INFORMATION PANEL */
app-information-panel {
    grid-area: ip;
    background-color: var(--secondary-background-color);

    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--accent-color);
}

/* MAIN PANEL */
app-main-panel {
    grid-area: mp;
    background-color: var(--main-background-color);
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

/* MAIN PANEL SROLL BAR */
app-main-panel::-webkit-scrollbar {
    -webkit-appearance: none;
}
app-main-panel::-webkit-scrollbar-button:increment {
    display: none;
}
app-main-panel::-webkit-scrollbar:vertical {
    width:10px;
    
}
app-main-panel::-webkit-scrollbar-thumb {
    background-color: var(--secondary-background-color);
    border: 1px solid #f1f2f3;
    border-radius: 20px;

}
app-main-panel::-webkit-scrollbar-track {
    border-radius: 10px;  
}
app-main-panel {
    /*Estilos estándar experimentales (Principalmente Firefox)*/
    scrollbar-color: var(--secondary-background-color);
    scrollbar-width: thin;
}

/* MAIN MENU */
app-main-menu {
    grid-area: mm;
    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-height: 100%;

    background-color: var(--secondary-background-color);
    
}


