header {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    flex-direction: row;
    background-color: var(--dark-color);
    transform: translateX(0);
    transition: .25s
    /* transition-duration: .15s; */
    /* transition-delay: .15s; */
    /* transition-duration: .2s; */
}
header>button {
    margin-left: 1vw;
    align-self: center;
    /*border-radius: 100%;*/
    background: none;
    border: none;
    z-index: 2;
}

header>button>img {
    width: 4vmin;
}

svg, button.isEditMode>svg:hover {
    width: 100%;
    fill: var(--main-color);
    stroke-linecap: round;
    
}
svg:hover, button.isEditMode>svg {
    fill: var(--separator-color);
    transform: scale(1.2);
    
}

header app-user {
    flex: 1 1 auto;
    text-align: end;
    place-self: center;
    margin-right: 1vw;
    z-index: 0;
    transform: translateX(0);
    transition: transform .25s;
    
}
aside {
    position: absolute;
    height: 100vh;
    width: 30vw;
    background-color: var(--dark-color);
    border-right: solid .5vmin var(--main-color);
    color: white;
    transform: translate(-28vw);
    z-index: 10;
    transition: transform .25s;
}
aside.close:hover, aside.close:active{
    transform: translateX(-27.5vw);
    cursor: pointer;
}

aside.close:hover ~ header  {
    transform: scaleX(0.995) translateX(.2%);
}
aside.open {
    position: absolute;
    transform: translateX(0);
}

aside.open ~ header  {
    transform: translateX(28.2vw);
}
aside.open ~ header app-user {
    transform: translateX(-28.2vw);
}

form {
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border-bottom: solid .5vmin var(--separator-color);
}
form>input {
    user-select: text;
    padding-left: 1rem;
    width: 35vw;
    height: calc(1rem + 4vh);
    font-size: calc(1rem + .5vmin);
    box-shadow: var(--default-box-shadow);
    border: none;
}
form>button {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--dark-color);
    width: calc(1rem + 4vw);
    height: calc(1rem + 4vh);
    padding: 0;
    border: none;
    box-shadow: var(--default-box-shadow);
    padding-right: .5rem;
}
form>button>svg {
    width: calc(1rem + 2vmin);
    height: calc(1rem + 1vmin);
    color: var(--main-color);
}
main {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: var(--main-color);
    display: grid;
    grid-template-rows: 2fr .2fr;
}
app-filters {
    justify-self: right;
}
.icons {
    display: flex;
    flex-direction: row;
    place-content: center;
    height: fit-content;
}
app-order-selector {
    justify-self: right;
}

div#backgroundAlert {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-transparent-color);
}
div#backgroundAlert>form {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 30vw;
    height: 60vh;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 15vw 15vw;
    grid-template-rows: 20vh 20vh 20vh;

}
div#backgroundAlert>form * {
    width: 100%;
}