<form [formGroup]="newLinkForm" (ngSubmit)="onSubmit()">
    <input class="name" formControlName="name" type="text" placeholder="Nombre del link">
    <input #urlInput class="url" formControlName="url" type="text" placeholder="Url del link" (input)="getLinkImages()">
    <input #imageInput class="image" formControlName="image" type="text" placeholder="Url de la imagen" (input)="getMainImagePreview()" >
    <div class="mainImg" #mainImg ></div>
    <div class="secondaryImg">
        <div #img1 class="pointer" (click)="setMainImg(img1.title)"></div>
        <div #img2 class="pointer" (click)="setMainImg(img2.title)"></div>
        <div #img3 class="pointer" (click)="setMainImg(img3.title)"></div>
        <div #img4 class="pointer" ><input #clpk class="colorpicker pointer" type="color" value="#205585" (input)="setMainImg(clpk.value)" ></div>
    </div>
    <div class="tags">
        <div class="tag pointer" *ngFor="let tag of link.tags" (click)="removeTag(tag)">
            {{tag.name}}
        </div>
    </div>
    <button class="submitButton" type="submit">
        <div class="svg"><app-create-link-svg [fill]="linkColor"></app-create-link-svg></div>
        <div class="text">Crear Link</div>
    </button>
    <button (click)="cancel()" class="cancelButton">
        <app-cross-svg [fill]="crossColor"></app-cross-svg>
    </button>
</form>
