form {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 2%;
    display: grid;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: minmax(20px, 2%) minmax(330px, 70%) minmax(120px, 28%);
    grid-template-rows: minmax(40px, 5%) minmax(90px, 15%) minmax(500px, 80%); */
    grid-template-columns: minmax(48.5px, 10%) minmax(48.5px, 10%) minmax(48.5px, 10%) minmax(48.5px, 10%) minmax(32.5px, 30%) minmax(118.5px, 30%);
    grid-template-rows: minmax(50px, 10%) minmax(50px, 10%) minmax(50px, 10%) minmax(175px, 35%) minmax(175px, 35%);
    grid-template-areas: 
    "nm nm nm nm nm ta"
    "ur ur ur ur ur ta"
    "im im im im im ta"
    "mi mi si si .  ta"
    "sb sb sb cl .  ta";
}
input {
    border: solid 2px var(--light-border-color);
    border-radius: 15vh;
    margin-right: 3%;
    height: 60%;
    max-height: 60%;
    padding: 2.5%;
    font-size: 18px;
}
input.name {
    grid-area: nm;
}

input.url {
    grid-area: ur;
}

input.image {
    grid-area: im;
}

div.mainImg {
    grid-area: mi;
    display: flex;
    align-self: center;
    border: solid 2px var(--light-border-color);
    border-radius: 2vh;
    width: 90%;
    aspect-ratio: 1 / 1;
    margin-top: 5%;
    overflow: hidden;
}

div.secondaryImg {
    grid-area: si;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-self: center;
    width: 100%;
    max-height: min-content;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    margin-top: 5%;
    margin-left: 2%;
}
div.secondaryImg>div {
    display: flex;
    border: solid 2px var(--light-border-color);
    border-radius: 2vh;
    aspect-ratio: 1 / 1;
    width: 80%;
    margin: 10%;
    overflow: hidden;
}

div.tags {
    grid-area: ta;
    border: solid 2px var(--light-border-color);
    border-radius: 2vh;
    height: 98%;
}

div.tags div.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 65%;
    max-width: 65%;
    text-overflow: ellipsis;
    height: 7.5%;
    border-radius: 15vw;
    padding: 2.5%;
    background-color: var(--secondary-accent-color);
    color: var(--main-background-color);
    border-right: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
    margin-top: 6%;
    margin-bottom: 6%;
}
div.tags div.tag:hover {
    background-color: var(--border-color);
}

button.submitButton {
    grid-area: sb;
    display: flex;
    align-items: center;
    height: 35%;
    width: 85%;
    margin-left: 2%;
    border: 1px solid var(--secondary-background-color);
    border-radius: 2vh;
    background-color: var(--secondary-background-color);
    font-size: max(20px,1.8rem);
    color: var(--main-background-color);
}
button.submitButton div.svg {
    margin: 2%;
    margin-right: 8%;
    height: 65%;
    aspect-ratio: 1 / 1;
}

button.cancelButton {
    grid-area: cl;
    height: 35%;
    aspect-ratio: 1.2 / 1;
    margin-left: 5%;
    border: 1px solid var(--light-border-color);
    border-radius: 2vh;
    background-color: var(--main-background-color);
}

@media screen and (max-width: 950px) {
    button.submitButton div.text {
        display: none;
    }
    button.submitButton div.svg {
        margin: auto;
    }
}