<form [formGroup]="newLinkForm" (ngSubmit)="onSubmit()">
    <input class="name" formControlName="name" type="text" placeholder="Nombre del link">
    <input class="url" formControlName="url" type="text" placeholder="Url del link">
    <input class="image" formControlName="image" type="text" placeholder="Url de la imagen">
    <div class="mainImg"></div>
    <div class="secondaryImg">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="tags">
        <div class="tag pointer" *ngFor="let tag of link.tags" (click)="removeTag(tag)">
            {{tag.name}}
        </div>
    </div>
    <button class="submitButton" type="submit">
        <div class="svg"><app-create-link-svg [fill]="linkColor"></app-create-link-svg></div>
        <div class="text">Crear Link</div>
    </button>
    <button (click)="cancel()" class="cancelButton">
        <app-cross-svg [fill]="crossColor"></app-cross-svg>
    </button>
</form>
