main {
    display: flex;
    margin: 2vmin 3vw;
    border: solid  1px var(--dark-color);
    border-radius: 20px;
    overflow: hidden;
}
main.nofilters button {
    pointer-events: none !important;
}
main.reversed {
    border-color: var(--main-color);
}
main.reversed>button {
    color: var(--main-color);
}
main.reversed>button:hover, main.reversed>button.selected {
    background-color: var(--main-color);
    color: var(--dark-color);
}
main>button {
    background: none;
    border: none;
    /* padding: 1vmin 1vw; */
    height: min(40px, 5vh);
    width: min(120px, 8vw);
    align-self: center;
    place-content: center;
    
    font-size: calc(1rem + .5vmin);
    color: var(--dark-color);
}
main>button:first-of-type {
    border-right: solid .5vmin var(--dark-color);
}
main>button:hover, main>button.selected {
    background-color: var(--dark-color);
    color: var(--main-color);
}