app-link {
    display: flex;
    width: 100%;
    height: max(40px,7%);
    max-height: max(40px,7%);
    padding-left: 6%;
    margin-top: 2%;
}

app-compressed-link {
    display: inline-flex;
    flex-direction: row;
    margin: 0px 2.15%;
    width: 29%;
    max-width: 33.3%;
    height: max(40px,7%);
    max-height: max(40px,7%);
    margin-top: 2%;
    justify-content: center;
}

app-logo-link {
    display: inline-flex;
    flex-direction: column;
    width: 25%;
    max-width: 25%;
    aspect-ratio: 1.1 / 1;
    /* max-height: max(40px,60%); */
    margin-top: 2%;
    justify-content: center;
    align-items: center;
}
