button {
    background: none;
    border: none;
    color: var(--main-color);
    font-weight: bold;
    letter-spacing: .2vw;
}
button:hover {
    color: var(--separator-color);
    transform: scale(1.1);
}