<main [ngClass]="{'close': !open}">
    <app-filters [reversed]="true" *ngIf="open" [filters]="canFilters" (filterEmitter)="showOnly($event)" title="Ordenar por"></app-filters>
    
    <div class="links_wrapper" *ngIf="open">
        <app-list-link *ngFor="let link of list_links; index as i" [filters]="filters" [link]="link" [index]="i" [isEditMode]="isEditMode" [showFolderLinks]="foldersOpen[i]" (isOpenFolderEmitter)="openFolder($event)" (newLinkEmitter)="this.newLinkEmitter.emit($event)" (deleteLinkEmitter)="this.deleteLinkEmitter.emit($event)" title="{{link.getName()}}"></app-list-link>
        <button *ngIf="list_links.length==0" (click)="this.newLinkEmitter.emit(newLink)" #newLink title="Nuevo Enlace">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"/>
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
            </svg>
        </button>
    </div>
    <div class="foot">
        <div class="date">{{this.date + ' ' + this.time}}</div>
        <button class="openAside" (click)="closeAside($event)">
            <svg xmlns="http://www.w3.org/2000/svg" id="arrow-circle-left" viewBox="0 0 24 24" width="512" height="512" *ngIf="open else openAside">
                <path d="M24,12A12,12,0,1,0,12,24,12.013,12.013,0,0,0,24,12ZM2,12A10,10,0,1,1,12,22,10.011,10.011,0,0,1,2,12Z"/>
                <path d="M8,12a2.993,2.993,0,0,1,.752-1.987c.291-.327.574-.637.777-.84L12.353,6.3a1,1,0,0,1,1.426,1.4L10.95,10.58c-.187.188-.441.468-.7.759a1,1,0,0,0,0,1.323c.258.29.512.57.693.752L13.779,16.3a1,1,0,0,1-1.426,1.4L9.524,14.822c-.2-.2-.48-.507-.769-.833A2.99,2.99,0,0,1,8,12Z"/>
            </svg>
    
            <ng-template #openAside>
                <svg xmlns="http://www.w3.org/2000/svg" id="arrow-circle-right" viewBox="0 0 24 24" width="512" height="512" class="open">
                    <path d="M0,12A12,12,0,1,0,12,0,12.013,12.013,0,0,0,0,12Zm22,0A10,10,0,1,1,12,2,10.011,10.011,0,0,1,22,12Z"/>
                    <path d="M16,12a2.993,2.993,0,0,1-.752,1.987c-.291.327-.574.637-.777.84L11.647,17.7a1,1,0,1,1-1.426-1.4L13.05,13.42c.187-.188.441-.468.7-.759a1,1,0,0,0,0-1.323c-.258-.29-.512-.57-.693-.752L10.221,7.7a1,1,0,1,1,1.426-1.4l2.829,2.879c.2.2.48.507.769.833A2.99,2.99,0,0,1,16,12Z"/>
                </svg>
            </ng-template>
        </button>
    </div>
</main>