.pop-up-container {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--dark-transparent-color);
    z-index: 3;
}

.pop-up-container * {
    box-sizing: border-box;
}
.pop-up-container>div {
    
    display: grid;
    /*grid-template-columns: 9vw 9vw;
    grid-template-rows: 11vh 15vh 10vh;*/
    grid-template-areas: "head head"
                         "body body"
                         "confirm cancel";
    padding: 2vh 1vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20vw;
    height: 40vh;
    border-radius: 1vmin;
    background-color: var(--main-color);
    z-index: 4;
}
.pop-up-container>div>div{
    place-self: center;
}

.pop-up-container>div>div:only-of-type {
    grid-row-start: 1 !important;
    grid-row-end: 3 !important;
}
.pop-up-container .title {
    grid-area: head;
    text-align: center;
    font-size: calc(1rem + 1vmin);
    font-weight: bold;
}
.pop-up-container .body {
    grid-area: body;
    text-align: center;
    font-size: calc(1rem + .5vmin);
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.pop-up-container input {
    margin: auto;
    width: 100%;
    border: 1px solid var(--dark-color);
    border-radius: 1vmin;
    outline: none;
    padding: .5rem;
    background: none;
    z-index: 1;
    font-size: calc(.5rem + .5vmin);

}
.pop-up-container label {
    position: absolute;
    left: 25%;
    color: var(--dark-color);
    background: var(--main-color);
    font-size: calc(.5rem + 1vmin);
    padding: 0 1vmin;
    transition: .3s;
}
/*.pop-up-container label:first-of-type {
    top: 32.5%;
}
.pop-up-container label:last-of-type {
    top: 53.5%;
}*/

/* Movimiento hacia arriba label*/
.pop-up-container input:focus + label {
    transform: translateY(-100%);
    font-size: calc(.5rem + .5vmin);
    font-weight: 700;
    z-index: 10;
}

/* Si hay algo escrito se mantiene la label */
.pop-up-container input:not(:placeholder-shown)+ label {
    transform: translateY(-100%);
    font-size: calc(.5rem + .5vmin);
    font-weight: 700;
    z-index: 10;
}

.pop-up-container button {
    outline: none;
    box-sizing: border-box;
    padding: .5vmin;
    width: 7vw;
    height: 5;
    border-radius: 1vmin;
    color: var(--main-color);
    font-size: calc(.5rem + .75vmin);
    place-self: center;

    transition: 1s ease-out;
}
.pop-up-container button:only-of-type {
    grid-column-start: 1 !important;
    grid-column-end: 3 !important;
}
.pop-up-container button:first-of-type {
    grid-area: confirm;
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}

.pop-up-container button:last-of-type {
    grid-area: cancel;
    color: var(--dark-color);
    background-color: var(--main-color);
}

.pop-up-container button:hover {

    transform: scale(1.3);
}

.pop-up-container .alert-options {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.pop-up-container .alert-options button {
    background-color: var(--main-color);
    color: var(--dark-color);
    border: none;
    border-radius: 0px;
    border-right: solid 1px var(--dark-color);
    font-size: calc(.5rem + .5vmin);
    width: max-content;
    padding: 1vmin;
}
.pop-up-container .alert-options button:hover {
    transform: none;
}
.pop-up-container .alert-options button:last-of-type {
    border: none;
}