/* You can add global styles to this file, and also import other style files */
:root {
 
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}
body, app-root {
    overflow-x: hidden;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    margin: 0%;
    scroll-behavior: smooth;
}

