form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
}
form>input {
    user-select: text;
    padding-left: 1rem;
    width: var(--search-bar-width);
    height: calc(1rem + 4vh);
    font-size: calc(1rem + .5vmin);
    box-shadow: var(--default-box-shadow);
    border: none;
}
form>button {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--dark-color);
    width: var(--search-button-width);
    height: calc(1rem + 4vh);
    padding: 0;
    border: none;
    box-shadow: var(--default-box-shadow);
    padding-right: .5rem;
}
form>button>svg {
    width: calc(1rem + 2vmin);
    height: calc(1rem + 1vmin);
    fill: var(--main-color);
}
form>button.deployed {
    border-bottom-right-radius: 0px;
}

div.suggestions {
    position: absolute;
    width: calc(var(--search-bar-width) + var(--search-button-width) * 2);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: var(--default-box-shadow);
    background-color: white;
    overflow: hidden;
    z-index: 99;
    visibility: hidden;
    
    opacity: 0;
}
div.suggestions.deployed {
    visibility: visible;
    opacity: 1;
}

div.suggestions ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div.suggestions li {
    display: flex;
    align-items: center;
    padding: 1vh;
    padding-left: 0px;
    cursor: pointer;
    
}
div.suggestions li:hover, div.suggestions li:focus  {
    background-color: var(--separator-color);
    outline: none;
}
div.suggestions li>div {
    display: flex;
    place-content: center;
    width: var(--search-button-width);
}
div.suggestions li img {
    visibility: hidden;
    width: calc(1rem + 2vh);
    height: calc(1rem + 2vh);
}

div.suggestions li:hover img, div.suggestions li:focus img {
    visibility: visible;
}